/* All the CSS styles gees here */

h1 {
    text-align: center;
    font-size: 36px;
    font-family: monospace;
    color: rgb(184, 127, 53);
}

li {
    font-size: 24px;
    font-family: monospace;
    padding: 12px;
    list-style: none;
    margin-top: 30px;
}

/* Adding styles for waffles.html page */
h1 {
    color: maroon;
}