/* All the CSS styles gees here */

h1 {
    text-align: center;
    font-size: 36px;
    font-family: monospace;
    color: rgb(184, 127, 53);
}

li {
    font-size: 24px;
    font-family: monospace;
    padding: 12px;
    list-style: none;
    margin-top: 30px;
}

/* Adding styles for waffles.html page */
#waffles {
    color: rgb(49, 93, 111);
    background-color: #eeeeee;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
}

#waffles-image,
#spaghetti-image {
    display: block;
    padding: 24px;
    margin: 20px auto;
    background-color: #eeeeee;
}

.waffles-describe,
.spa-describe {
    text-align: center;
    color: rgb(49, 93, 111);
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}

#waffles-para,
#spa-para {
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    padding: 12px;
}

.one {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    list-style: lower-roman;
    padding: 8px;
}

/* Adding styles for spaghetti.html page */
#spaghetti {
    background-color: #eeeeee;
    color: rgb(2, 88, 64);
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
}

.spa-describe {
    color: rgb(2, 88, 64);
}